.background-image {
  background-image: url("noaa-zdj3p00Rep0-unsplash.jpg");
  width: auto;
}

h1 {
  color: rgb(128, 0, 0);
  font-size: 24px;
  font-weight: 200;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 28px;
  padding: 20px;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  display: block;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  text-align: left;
  text-transform: capitalize;
}
.border {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 25px;
  border: 1px solid rgb(11, 1, 1);
  border-radius: 5px;
}
.source {
  max-width: 600px;
  margin: 0 auto;
}
.temperature {
  font: weight 400;
  font-size: 64px;
}
.units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.weather-temperature .active {
  color: black;
  cursor: default;
}

.weather-temperature .active:hover {
  color: rgb(16, 16, 16);
  cursor: default;
  text-decoration: none;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
}
.forecast-day {
  font-size: 16px;
  color: rgb(86, 4, 4);
  opacity: 0.5;
}
.forecast-temps {
  font-size: 13px;
}
.forecast-temp-min {
  opacity: 0.5;
}
